.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 0;
}

.list {
  padding: 60px 12px;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  justify-items: center;
  height: 70vh;
  overflow-y: scroll;
}

.card {
  height: 300px;
}

.selected {
  background-color: #a3cdef;
  height: 300px;
}

.delete-button {
  background-color: #2196f3;
  color: #fff;
  border: 1px solid transparent;
  border-radius: 4px;
  cursor: pointer;
  padding: 8px 12px;
}