.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 0;
}

.list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 30px;
  justify-items: center;
}

.selected {
  background-color: aquamarine;
}